body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #020917, #101725);
}

.header {
  width: 100%; /* Full width */
  background-color: rgba(2, 9, 23, 0.8); /* Dark blue with transparency */
  color: white; /* Text color */
  padding: 20px; /* Padding for content */
  text-align: center; /* Center the text */
  box-sizing: border-box; /* Include padding in width calculation */
}

.content {
  display: flex;
  width: 100%; /* Full width of the parent */
  height: 100vh; /* Full height of the parent */
  line-height: 1.1;
  /* text-align: center;
  flex-direction: column;
  justify-content: center; */
}

.panel {
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
}

.left-panel {
  background-color: rgba(55, 104, 202, 0.1); /* Light transparent overlay */
}
.right-panel {
  background-color: rgba(16, 23, 37, 0.5); /* Slightly darker transparent overlay */
}


.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}
